td {
    padding: 0.2rem 0.8rem;
}

td:first-child {
    font-size: 0.8rem;
    width: 20%;
}

td:not(:first-child){
    width: 40%;
}

tr:nth-child(2n){ 
    background-color: lightgrey
}

tr:nth-child(2n+1){
    background-color: burlywood;
}